.container {
    background-color: gray;
    height: 100%;
    width: 100%;
}

.row {
    background-color: cyan;
    height: 50px;
    align-items: center;
}

.col {
    background-color: green;
    height: 25px;
}